<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/register.css" rel="stylesheet">
</head>

<body>
  <%- include('../partials/header.ejs')%>
    <div class="form-signin">
      <form method="post" action="/user/register" enctype="multipart/form-data">
        <div class="container">
          <%if(cookies.isRegistered=="email_used"){%>
            <div class="alert alert-danger" role="alert">
              The email has already been used!
            </div>
            <%}%>
              <div class="mb-3">
                <label for="InputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="emailinput" aria-describedby="emailHelp"
                  required>
                <p id="evalid" class="mt-2 text-center" style="font-size:12px;color:red;"></p>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="fname1" class="form-label">Firstname</label>
                  <input type="text" name="fname" class="form-control" id="fname1" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lname1" class="form-label">Lastname</label>
                  <input type="text" name="lname" class="form-control" id="lname1" required>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <select class="form-select" name="gender">
                  <option disabled selected>Gender</option>
                  <option value="Female">Female</option>
                  <option value="Male">Male</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="pwd1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="pwd1" required>
                <p id="pvalid1" class="mt-2 text-center" style="font-size:12px;color:red;"></p>
              </div>
              <div class="mb-3">
                <label for="pwd1" class="form-label">Confirm Your Password</label>
                <input type="password" class="form-control" id="pwd2" required>
                <p id="pvalid2" class="mt-2 text-center" style="font-size:12px;color:red;"></p>
              </div>
              <div class="from-group mb-3 col-6">
                <label for="image">Upload Image</label>
                <input type="file" class="form-control form-control-sm mt-5" id="imageUpload" name="image" value="" accept=".png, .jpg, .jpeg .gif" required />
              </div>
                <div class="col-md-6">
                Subject Icon Preview
                <div class="profile-header mt-3">
                  <img id="imagePreview" >
                </div>
                </div>

              <button type="submit" class="btn btn-primary" id="submitbutton" disabled>Submit</button>
      </form>
    </div>
    
      <script src="/javascripts/passwordvalidator.js"></script>
      <script language="JavaScript" type="text/javascript" src="/javascripts/profilePreview.js"></script>
</body>

</html>