<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Reddeetznuts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <%if(pageInfo.pageType!="Auth"){%>
        <%if(!sessions.loginsession){%>
                     
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Home
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-item">You are not logged in</li>
            </ul>
          </li>
        </ul>
       
        <%}else{%>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%if(pageInfo.pageurl!=null){%>
                <%=subjectInfo.Object.subjectName %>
              </a>
              <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">Home</a></li>
             <% }else{%>
              Home
             
            </a>
            <ul class="dropdown-menu">
              
              <%}%>
              <%if(pageInfo.subjects.length>0){%> 
                <%pageInfo.subjects.forEach(function(subject){%>
                  <%if("/subject/"+subject._id!= pageInfo.pageurl){%> 
                  <li><a class="dropdown-item" href="/subject/<%=subject.id %>"><%=subject.subjectName%></a></li>
                <%}})%>
              <%}else{%>
                <li class="dropdown-item">You are not in any class</li>
                <%}%>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/addsubject">Add Subjects</a></li>
            </ul>
          </li>
        </ul>



        <%}%>
      <%}%>
      
      <ul class="nav navbar-nav flex-fill justify-content-center">
        <li class="nav-item">
          <div class="indexsearchbar">
            <form class="d-flex " role="search" action="/search" method="GET" >
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="qry" required>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <%if(sessions.loginsession){%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%=sessions.loginsession.email %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/viewProfile">Profile</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
         
          
        <%}else{%>
          <div class="nav-item">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
            </ul>
          </div>
          <%}%>
      </ul>
      
     
        
    </div>
  </div>
</nav>