<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <%- include('./partials/header.ejs')%>
    <div class="container">
      <%if(cookies.isAdded=="subject"){%>
        <div class="alert alert-success" role="alert">
          Added subject in succesfully!!
        </div>
      <%}%>

        <div class="containers">
          <form method="POST" action="/subject/add" enctype="multipart/form-data">
            <h1 style="font-weight: 600;">Adding new subject.</h1>
            <div class="form-group mb-3">
              <label for="subjectName" class="form-label">Enter your subject's Name : ***</label>
              <input type="text" class="form-control" placeholder="Enter subject's Name" id="subjectName" name="subjectName" required>
            </div>
            <div class="form-group mb-3">
              <label for="Description" class="form-label">Your subject's description : </label>
              <input type="text" class="form-control" id="Description" placeholder="Description" name="Description">
              <small>You can leave this blank.</small>
            </div>

            <div class="from-group mb-3">
              <label for="image">Upload Image</label>
              <input type="file" id="image" name="image" value="" />

            <label for="image">Upload Image</label>
            <input type="file" class="form-control form-control-lg" id="imageUpload" name="image" value="" accept=".png, .jpg, .jpeg .gif" />
            <div class="profile-header">
              <img id="imagePreview" src="" alt="">

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>
    <script language="JavaScript" type="text/javascript" src="/javascripts/profilePreview.js"></script>
</body>

</html>