<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

    <%- include('../partials/header.ejs')%>
        <div class="container">

            <%if(cookies.isLoggedin=="loggedin"){%>
                <div class="alert alert-success" role="alert">
                    Logged in succesfully!!
                </div>
            <%}%>
            <%if(cookies.isLoggedout=="true"){%>
                <div class="alert alert-success" role="alert">
                    Logged out succesfully!!
                </div>
            <%}%>
            <%if(cookies.addRequest=="Added"){%>
                <div class="alert alert-success" role="alert">
                    Requested joining
                </div>
            <%}%>
            <%if(cookies.addRequest=="Deleted"){%>
                <div class="alert alert-success" role="alert">
                    Deleted request
                </div>
            <%}%>

            <div class="containers">
                <div class="profile-header">
                    <img id="profile-picture" src="https://play-lh.googleusercontent.com/8ddL1kuoNUB5vUvgDVjYY3_6HwQcrg1K2fd_R8soD-e2QYj8fT9cfhfh3G0hnSruLKec" alt="รูปโปรไฟล์">
                </div>
                <%- include('./SubjectHeader.ejs')%>
                <a href="/NewPost/:id/" class="btn btn-primary">New Post</a>
            </div>
        </div>
        <%- include('../partials/footer.ejs')%>
</body>

</html>