body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* --------------------header----------------------- */

.indexsearchbar{
  justify-content: center;
  float: none;
}

/* ---------------------footers----------------------- */
#footer{
  color: white;
  background-color: rgb(177, 60, 14);
  padding-top: 20px;
  
}
#footer a{
  text-decoration: none;
}
#footer a:visited{
  color: white;
  text-decoration: none;
}